body{
  background-color: black;
}
#loading{
  position: fixed;
  inset: 0;
  background-color: black;
  z-index: 2;
  opacity: 1;
  transition: opacity 500ms ease;
}
#loading::after{
  content: "";
  position: absolute;
  inset: 41.5%;
  aspect-ratio: 1/1;
  left: 44.5%;
  width: 10%;
  border-radius: 50%;
  border: 10px solid white;
  border-top-color: orange;
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}
#loading h1{
  position: absolute;
  top: 28%;
  left: 37.5%;
  font-family: 'Brush Script MT',cursive;
  font-size: 40px;
  color: white;
}
.logo{
  position: absolute;
  transition: translate(-50%, -50%);
}
ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
  z-index: 10;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: orange;
  padding: 5px 20px;
  border: 1px solid #fff transparent;
  transition: 1.2s ease;
}
ul li a:hover{
  background-color: orange  ;
  color: #000;
}
ul li.active a{
  background-color: orange;
  color:#000;
}
.next img{
  position: absolute;
  max-width: 200px;
  max-height: 100px;
  top: 42.5%;
  right: 1%;
}
.prev img{
  position: absolute;
  max-width: 200px;
  max-height: 100px;
  top: 42.5%;
  left: 1%;
}
#idaw{
  position: absolute;
  top: 35%;
  height: 30%;
  width: 30%;
}
#sagayan{
  position: absolute;
  top: 35%;
  left: 35%;
  height: 30%;
  width: 30%;
}
#maglalatik{
  position: absolute;
  top: 35%;
  left: 69.5%;
  height: 30%;
  width: 30%;
}
#vid{
  position: absolute;
  top: 14%;
  left: 14.5%;
}
#aw{
position: absolute;
font-style: italic;
font-size: 40px;
color: orange;
left: 12.5%;
top: 63%;
text-decoration: underline;
}
#sa{
position: absolute;
font-style: italic;
font-size: 40px;
color: orange;
left: 44%;
top: 63%;
text-decoration: underline;
}
#lat{
  position: absolute;
  font-style: italic;
  font-size: 40px;
  color: orange;
  left: 78%;
  top: 63%;
  text-decoration: underline;
}
.card{
  position: absolute;
  top: 15%;
  left: 3%;
  min-height: 550px;
  width: 200px;
  border-radius: 30px;
  padding: 0 80px;
  box-shadow: 0 15px 15px orange , 0 0 35px orange ;
}
.card1{
  position: absolute;
  top: 15%;
  left: 36.5%;
  min-height: 550px;
  width: 200px;
  border-radius: 30px;
  padding: 0 80px;
  box-shadow: 0 15px 15px orange , 0 0 35px orange ;
}
.card2{
  position: absolute;
  top: 15%;
  left: 70%;
  min-height: 550px;
  width: 200px;
  border-radius: 30px;
  padding: 0 80px;
  box-shadow: 0 15px 15px orange , 0 0 35px orange ;
}
.card3{
  position: absolute;
  bottom: -100%;
  left: 20%;
  min-height: 550px;
  width: 200px;
  border-radius: 30px;
  padding: 0 80px;
  box-shadow: 0 15px 15px orange , 0 0 35px orange ;
}
.card4{
  position: absolute;
  bottom: -100%;
  left: 53%;
  min-height: 550px;
  width: 200px;
  border-radius: 30px;
  padding: 0 80px;
  box-shadow: 0 15px 15px orange , 0 0 35px orange ;
}
.imgcard{
  min-height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgcard img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 2;
  transition: all 0.5s ease-out;
}
.circle{
  width: 240px;
  height: 240px;
  background: linear-gradient(
    to right,
    orange,
    lightyellow
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.name h1{
  color: orange;
  font-size: 25px;
  text-align: center;
  margin: 10px 20px;
  padding: 0;
  transition: all 0.5s ease;
}
.grlvl h1{
  color: orange;
  font-size: 20px;
  text-align: center;
  margin: 10px 20px;
  padding: 0;
  transition: all 0.5s ease;
}
.grlvl h3{
  color: orange;
  font-size: 15px;
  text-align: center;
  padding-left: 0;
  font-weight: lighter;
  transition: all 0.5s ease-out;
}
.sub11{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub12{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub11 button{
  margin: 20px 10px 0 0;
  padding: 10px 10px;
  background: orange;
  font-weight: bolder;
  font-family: 'Times New Roman',serif;
  font-size: 17px;
  border: none;
  box-shadow: 0px 5px 6px orange;
  border-radius: 30px;
  cursor: pointer;
}
.sub12 button{
  margin: 20px 10px 0 0;
  padding: 10px 10px;
  background: orange;
  font-weight: bolder;
  font-family: 'Times New Roman',serif;
  font-size: 17px;
  border: none;
  box-shadow: 0px 5px 6px orange;
  border-radius: 30px;
  cursor: pointer;
}
button:hover{
  background: lightyellow;
  color: #000;
}
button:focus{
  background: lightyellow;
  color: #000;
}
.Click{
  position: absolute;
  background-color: orange;
  border-radius: 30px;
  top: 96%;
  left: 15%;
  color: black;
  font-weight: bolder;
}
.Clicked{
  position: absolute;
  background-color: orange;
  border-radius: 30px;
  bottom: -110%;
  left: 15%;
  color: black;
  font-weight: bolder;
}
.Clicked2{
  position: absolute;
  background-color: orange;
  border-radius: 30px;
  bottom: -73%;
  left: 15%;
  color: black;
  font-weight: bolder;
}
.Clicked3{
  position: absolute;
  background-color: orange;
  border-radius: 30px;
  bottom: -73%;
  left: 15%;
  color: black;
  font-weight: bolder;
}
.cardIdaw{
  position: absolute;
  bottom: -90%;
  left: 13.5%;
  min-height: 550px;
  width: 800px;
  border-radius: 30px;
  padding: 0 80px;
  box-shadow: 0 15px 15px orange , 0 0 35px orange ;
}
.cardMag{
  position: absolute;
  bottom: -65%;
  left: 13.5%;
  min-height: 400px;
  width: 800px;
  border-radius: 30px;
  padding: 0 80px;
  box-shadow: 0 15px 15px orange , 0 0 35px orange ;
}
.cardSag{
  position: absolute;
  bottom: -60%;
  left: 13.5%;
  min-height: 350px;
  width: 800px;
  border-radius: 30px;
  padding: 0 80px;
  box-shadow: 0 15px 15px orange , 0 0 35px orange ;
}
.history{
  color: orange;
  margin: 20px 20px;
  padding-left: 20px;
  position: absolute;
  top: 10.5%;
  left: 1%;
  text-align: justify;
  font-family: 'Arial';
}
.used{
  color: orange;
  margin: 20px 20px;
  padding-left: 20px;
  position: absolute;
  left: -1.5%;
  bottom: -40.5%;
  max-height: 550px;
  width: 800px;
  border-radius: 30px;
  padding: 0px 80px;
  text-align: justify;
  box-shadow: 0 15px 15px orange , 0 0 35px orange ;
  font-family: 'Arial';
}
.history2{
  color: orange;
  margin: 20px 20px;
  padding-left: 20px;
  position: absolute;
  top: 10.5%;
  left: 1%;
  text-align: justify;
  font-family: 'Arial';
}
.used2{
  color: orange;
  margin: 20px 20px;
  padding-left: 20px;
  position: absolute;
  left: -1.5%;
  bottom: -85%;
  max-height: 550px;
  width: 800px;
  border-radius: 30px;
  padding: 0px 80px;
  text-align: justify;
  box-shadow: 0 15px 15px orange , 0 0 35px orange ;
  font-family: 'Arial';
}
.history3{
  color: orange;
  margin: 20px 20px;
  padding-left: 20px;
  position: absolute;
  top: 10.5%;
  left: 1%;
  text-align: justify;
  font-family: 'Arial';
}
.used3{
  color: orange;
  margin: 20px 20px;
  padding-left: 20px;
  position: absolute;
  left: -1.5%;
  bottom: -57.5%;
  max-height: 550px;
  width: 800px;
  border-radius: 30px;
  padding: 0px 80px;
  text-align: justify;
  box-shadow: 0 15px 15px orange , 0 0 35px orange ;
  font-family: 'Arial';
}
.cardAbout{
  position: absolute;
  top: 15%;
  left: 13.5%;
  min-height: 550px;
  width: 800px;
  border-radius: 30px;
  padding: 0 80px;
  box-shadow: 0 15px 15px orange , 0 0 35px orange ;
}
.imgcardAbout{
  position: absolute;
  top: 30%;
  left: 10%;
  min-height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgcardAbout img{
  position: relative;
  left: -60%;
  height: 200px;
  width: 200px;
  z-index: 2;
  border-radius: 50%;
  transition: all 0.5s ease-out;
}
.circleAbout{
  position: absolute;
  left: -70%;
  width: 240px;
  height: 240px;
  background: linear-gradient(
    to right,
    orange,
    lightyellow
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.info{
  color: orange;
  text-align: center;
  width: 800px;
  position: absolute;
  position: -40px;
}
.info h1{
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  margin: 10px 20px;
  padding: 10px 10px;
}
.info h3{
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
}
.about{
  color: orange;
  margin: 20px 20px;
  padding-left: 20px;
  position: absolute;
  top: 20%;
  left: 20%;
  text-align: justify;
  font-size: 20px;
}
.about p{
  line-height: 30px;
}
#luzon{
  font-size: 25px;
  position: absolute;
  color: orange;
  bottom: -48%;
  left: 23.5%;
  text-decoration: none;
}
#mindanao{
  font-size: 25px;
  position: absolute;
  color: orange;
  bottom: -95%;
  left: 23.5%;
  text-decoration: none;
}
#visayas{
  font-size: 25px;
  position: absolute;
  color: orange;
  bottom: -68%;
  left: 23.5%;
  text-decoration: none;
}
